@use 'variables';

.about-us {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4rem 0;

  .img-container {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    flex-wrap: wrap;

    img {
      border-radius: 50%;
      background: lightgrey;
    }

    .profile-card:last-of-type {
      margin-left: 4vw;
    }
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 600;
  }
  
  p {
    color: variables.$deemphasized-text-dark;
  }

  h2 {
    margin-inline: auto;
    margin-top: 2rem;
  }


  p {
    margin-inline: auto;
  }
}
