@use 'variables';

footer {
  display: flex;
  align-items: center;

  padding: 2rem 0;
  background: variables.$dark-blue;

  li {
    display: inline-block;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  img {
    margin-right: 0.8rem;
  }
}

.footer-nav {
  img {
    filter: invert(1);
  }

  a {
    display: flex;
    align-items: Baseline;
    margin-top: 1rem;
    justify-content: space-between;
    width: 100%;

    &:first-of-type {
      margin-top: 2rem;
    }
  }

  li {
    display: block;

    &:hover {
      cursor: pointer;
    }
  }
}

.footer-bottom {
  text-align: center;
  color: variables.$text-light;

  hr {
    color: variables.$text-light;
    margin: 2rem 0;
  }

  p {
    font-size: variables.$p-fs-small;
  }
}

  //.newsletter-cta {
  //  color: variables.$text-light;

  //  & > div {
  //    display: flex;
  //    align-items: center;
  //  }

  //  input {
  //    border-radius: 16px;
  //    border: none;
  //    height: 2rem;
  //    width: 25vw;
  //  }

  //  button {
  //    margin-left: clamp(0.6rem, 4vw, 2rem);
  //  }

  //}
