@use 'variables';

footer {
  display: flex;
  align-items: center;

  padding: 2rem 0;
  background: variables.$footer-background;

  li {
    display: inline-block;
  }

  a {
    color: variables.$footer-text;
    text-decoration: none;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  img {
    margin-right: 0.8rem;
  }
}

.footer-nav {
  img {
    filter: invert(1);
  }

  a {
    display: flex;
    align-items: Baseline;
    margin-top: 1rem;
    justify-content: space-between;
    width: 100%;

    &:first-of-type {
      margin-top: 2rem;
    }
  }

  li {
    display: block;

    &:hover {
      cursor: pointer;
    }
  }
}

.footer-bottom {
  text-align: center;
  color: variables.$footer-text;

  hr {
    color: variables.$footer-text;
    margin: 2rem 0 1rem 0;
  }

  p {
    font-size: variables.$p-fs-small;
  }
}
