/* Hamburger Menu */
.menu-slice {
  background: black;
  width: 30px;
  height: 4px;
  position: absolute;
  right: 0;
  transform: translateY(300%);
  z-index: 1;

  &:first-child {
    margin-top: 8px;
  }

  &:last-child {
    margin-top: -8px;
  }
}

#hamburger-menu-checkbox {
  opacity: 0;
  position: absolute;
  right: 0;
  z-index: 1;

  // On hamburger toggle
  &:checked ~ label .menu-slice {
    background: green;
  }

  // On hamburger toggle
  &:checked ~ #nav-drawer {
    transform: translateX(0%);
  }

  // On focus, add outline 
  &:focus ~ label {
    outline: 1px solid white;
  }
}

#hamburger-label {
  width: 30px;
  height: calc(4px * 3 + 8px * 2);
  position: absolute;
  right: 0;
}
