@use 'variables';
@use 'sass:math';

.hero-section {
  background: blue;
  height: 40rem;
  width: 100vw;
  background: linear-gradient(120.46deg, variables.$light-blue 11.97%, variables.$dark-blue 70.13%);
  margin-top: - variables.$navbar-height;
  position: relative;
}

.hero-wave {
  position: absolute;
  bottom: 0;
  width: 100%;

  @for $i from 1 through 6 {
    &:nth-of-type(#{$i}) {
      @if ($i <= 3) {
        animation: linear slide-follow math.div(variables.$wave-movement-speed, $i % 3+1) infinite;
        //filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
      } @else {
        animation: linear slide math.div(variables.$wave-movement-speed, $i % 3+1) infinite;
      }
    }
  }
}


@keyframes slide {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes slide-follow {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}
