@use 'variables';
@use 'sass:math';

.hero-section {
  padding-top: variables.$navbar-height;
  height: auto;
  background: linear-gradient(120.46deg, variables.$light-blue 11.97%, variables.$dark-blue 70.13%);
  margin-top: - variables.$navbar-height;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 8rem;


  @media screen and (min-width: variables.$mobile) {
    padding-bottom: 20rem;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    display: none;
    transform: translateX(-1600px);
  }
}

.hero-wave {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNjAwIiBoZWlnaHQ9IjE5OCI+CiAgPHBhdGggZmlsbD0id2hpdGUiIGQ9Ik0uMDA1IDEyMUMzMTEgMTIxIDQwOS44OTgtLjI1IDgxMSAwYzQwMCAwIDUwMCAxMjEgNzg5IDEyMXY3N0gwcy4wMDUtNDggLjAwNS03N3oiIHRyYW5zZm9ybT0ibWF0cml4KC0xIDAgMCAxIDE2MDAgMCkiLz4KPC9zdmc+Cg==');
  background-repeat: repeat-x;
  width: 6400px;
  height: 198px;
  position: absolute;
  bottom: 0;
  display: none;

  @media screen and (min-width: variables.$mobile) {
    display: block;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        opacity: math.div(100%, 4 - $i);
        margin-left: -$i * 333px;
        animation: linear slide math.div(variables.$wave-movement-speed, $i) infinite;
      }
    }
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: variables.$text-light;
  margin-top: variables.$navbar-height + 4rem;

  p {
    font-size: calc(variables.$h1-fs * 0.7);
  }

  // Text content + CTA button
  & > div {
    max-width: 100%;

    button {
      background: none;
      outline: 2px solid variables.$red;
      color: variables.$text-light;
      padding: clamp(0.4rem, 2vw, 1rem) clamp(0.8rem, 4vw, 2rem); border-radius: variables.$border-radius;
      border: none;
      margin-top: clamp(0.6rem, 4vw, 2rem);
      font-size: calc(variables.$h1-fs * 0.4);
      display: flex;
      align-items: center;

      img {
        filter: invert(1);
        margin-left: 0.2rem;
        width: 0px !important;
        opacity: 0;
        height: calc(variables.$h1-fs * 0.3);
      }

      &:hover {
        transition: all 400ms variables.$quick-bezier;
        cursor: pointer;
        outline: 2px solid white;
      }

      &:hover img {
        display: block;
        opacity: 100%;
        width: auto !important;
      }
    }
    @media screen and (min-width: variables.$mobile) {
      max-width: 50%;
    }
  }

  @media screen and (min-width: variables.$mobile) {
    flex-direction: row; 
    justify-content: space-between;
  }
}

// Hero image
#hero-image {
  display: block;
  width: 100%;
  height: auto;
  filter: drop-shadow(32px 32px 0 variables.$darker-blue);
  margin-top: 4rem;

  @media screen and (min-width: variables.$mobile) {
    max-width: 40%;
  }
}
