@use 'variables';

#nav-drawer {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: coral;
  transition: transform 400ms variables.$quick-bezier;
  transform: translateX(100vw);

  & li {
  }

  @media screen and (min-width: variables.$mobile) {
    & {
      display: none;
    }
  }
}
