@use 'variables';

/* Navbar */
nav {
  height: variables.$navbar-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  margin-inline: auto;
  position: relative;
  color: white;

  & a {
    text-decoration: none;
  }

  // Hide nav links by default on mobile
  & #nav-links li {
    display: none;
  }

  @media screen and (min-width: variables.$mobile) {
    // Show the nav links
    & #nav-links li {
      display: inline-block;
      // Color anchor text
      & a {
        color: inherit;
      }
    }

    & label, & input {
      display: none;
    }
  }
}
