@use 'variables';

/* Navbar */
nav {
  height: variables.$navbar-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 1400px;
  margin-inline: auto;
  position: relative;
  color: variables.$text-light;
  z-index: 1;
  padding-top: 1rem;

  & a {
    text-decoration: none;
  }

  // Hide nav links by default on mobile
  & #nav-links li {
    display: none;
  }

  @media screen and (min-width: variables.$mobile) {
    // Show the nav links
    & #nav-links li {
      display: inline-block;

      // Color anchor text
      & a {
        color: inherit;
        display: block;
        padding: 0.5rem 1.5rem;
        border-radius: 32px;
        transition: all 400ms variables.$quick-bezier;
      }
      
      & a:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }

    & #nav-links li:last-of-type a {
      border: 1px solid white;
    }

    & label, & input {
      display: none;
    }
  }
}
