@use 'variables';

/* Navbar */
nav {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: lightgray;

  & a {
    text-decoration: none;
  }

  & #nav-links {
    display: none;
  }

  @media screen and (min-width: variables.$mobile) {
    & #nav-links {
      display: inline-block;
    }

    & label, & input {
      display: none;
    }
  }
}
