@use 'variables';
.pricing-section {
  .button-favored {
    background: variables.$cta-blue;
    color: white;
  }

  text-align: center;

  * {
    margin-inline: auto;
  }

  ul {
    text-align: left;
  }

  .pricing-cards-container {
    display: flex;
    flex-wrap: wrap;

    .price-card {
      border-radius: variables.$border-radius;
      padding: 2rem;
      box-shadow: 0px 10px 20px 0px rgba(0, 40, 100, 0.25);
      width: 20rem;
      display: flex;
      flex-direction: column;

      .pricing-title {
        font-size: calc(variables.$h2-fs * 0.8);
        font-weight: 600;

        & + p {
          font-size: calc(variables.$h1-fs * 0.85);
          font-weight: bolder;
        }
      }

      li {
        margin-top: 1rem;

        &::before {
          content: "\2022";
          color: variables.$cta-blue;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }

      li:last-of-type {
        margin-bottom: 4rem;
      }

      button {
        margin-top: auto;
        padding: 1rem 2rem;
        border-radius: var(--8, 8px); 
        border: 1px solid rgba(0, 0, 0, 0.05);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

}
