// Variables
$mobile: 800px;
$navbar-height: 4rem;

// Colors
$light-blue: #1E38A2;
$dark-blue: #021048;
$red: #ff346a;
$darker-blue: #0B0127;

// Text Colors
$text-light: #FFFFFF;
$text-dark: #211F25;

// Misc
$wave-movement-speed: 45s;
$border-radius: 32px;

// Animations
$quick-bezier: cubic-bezier(0.77,0.2,0.05,1.0);
