// Variables
$mobile: 800px;
$tablet: 1200px;
$navbar-height: 4rem;

// Colors
$light-blue: #1E38A2;
$dark-blue: #021048;
$red: #ff346a;
$darker-blue: #0B0127;

// Text Colors
$text-light: #FFFFFF;
$text-dark: #211F25;
$deemphasized-text-dark: #3D3A41;

// Misc
$wave-movement-speed: 45s;
$border-radius: 32px;

// Animations
$quick-bezier: cubic-bezier(0.77,0.2,0.05,1.0);

// Font sizes
$h1-fs: clamp(1rem, 5vw, 3rem);
$h2-fs: clamp(1.2rem, 5vw, 2rem);
$p-fs: clamp(0.8rem, 4vw, 1.2rem);
